canvas {
    background-color: #ffffff;
    border: 1px solid #0000ff;
    cursor: pointer;
    position: absolute;
    top: 25%;
    left: 15%;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
    border-radius: 10px;
    border: 1px solid #dddddd;
  }