@font-face { 
    font-family: "MontThin";
    src: url("../fonts/MontThin/MontThin.eot");
    src: url("../fonts/MontThin/MontThin.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MontThin/MontThin.woff") format("woff"),
    url("../fonts/MontThin/MontThin.ttf") format("truetype");
    font-style: normal;
    font-weight: 100
}
@font-face { 
    font-family: "MontserratThin";
    src: url("../fonts/MontserratThin/MontserratThin.eot");
    src: url("../fonts/MontserratThin/MontserratThin.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MontserratThin/MontserratThin.woff") format("woff"),
    url("../fonts/MontserratThin/MontserratThin.ttf") format("truetype");
    font-style: normal;
    font-weight: 100;
}
