{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'geometry/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'geometry/icons/logo-1.svg' %}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<!--Основа основ-->
<section class="main-section">
    <!--Контейнер размера страницы-->
    <div class="conteiner main-section__nav-container">
        <!--Верхняя секция сайта-->
        <header class="main-section__header">
            <a href="{% url 'home' %}"><img class="main-section__header-logo" src="{% static 'geometry/icons/logo-3.svg' %}"
                                            alt=""></a>
            <nav>
                <div class="navbar">
                    <div class="dropdown">
                        <button class="dropbtn"><a class="dropbtn__algebra" href="{% url 'maintenance' %}#algebra-content">алгебра</a></button>
                    </div>
                </div>
                <div class="navbar-1">
                    <div class="dropdown-1">
                        <button class="dropbtn-1"><a class="dropbtn__geometry" href="{% url 'maintenance' %}#geometry-content">геометрия</a></button>
                    </div>
                </div>
                <ul class="main-section__nav-menu">
                    <li class="main-section__nav-menu-li"><a class="main-section__nav-menu-items" href="#">Отзывы</a></li>
                    <li class="main-section__nav-menu-li"><a class="main-section__nav-menu-items" href="#">Контакты</a></li>
                    <li class="main-section__nav-menu-li"><a class="main-section__nav-menu-items" href="{% url 'about' %}">О нас</a></li>
                </ul>
                <div class="main-section__header__hamburger-line">
                    <img class="main-section__header__line" src="{% static 'geometry/img/headers/header_1.svg' %}" alt="">
                </div>
            </nav>
        </header>
        <section class="second__section">
            <div class="hamburger">
                <input type="checkbox" id="burger-checkbox" class="burger-checkbox">
                <label for="burger-checkbox" class="burger"></label>
                <ul class="menu-list">
                    {% block class_maintenance %}
                    {% endblock %}
                </ul>
            </div>
            {% block content %}
            {% endblock %}
        <button class="previous-topic"><a class="button-text" href="{% block previous_topic %} {% endblock %}"> <img src="{% static 'geometry/icons/CaretLeft.png' %}" alt=""> Предыдущая тема</a></button>
        <button class="next-topic"><a class="button-text" href="{% block next_topic %} {% endblock %}">Следующая тема <img class="arrow" src="{% static 'geometry/icons/CaretLeft.png' %}" alt=""></a></button>
        </section>
        <footer class="footer">
            <nav class="footer-social">
                <img class="footer-social__logo" src="{% static 'main/icons/logo-3.svg' %}" alt="">
                <div class="footer-social__connection">
                    <img class="footer-social-img" src="{% static 'main/icons/social-icons.png' %}" alt="">
                    <a class="footer-social__telegram" href="https://t.me/Sv_allmight" target="_blank">@Sv_allmight -
                        Александр Свечников</a>
                    <img class="footer-social-img" src="{% static 'main/icons/social-icons.png' %}" alt="">
                    <a class="footer-social__telegram" href="https://t.me/richmenaft" target="_blank">@richmenaft -
                        Денис Огородов</a>
                </div>
                <div class="footer-social__nav-menu">
                    <a class="footer-social__nav-menu-items" href="">Отзывы</a>
                    <a class="footer-social__nav-menu-items" href="">Контакты</a>
                    <a class="footer-social__nav-menu-items" href="">О нас</a>
                </div>
            </nav>
        </footer>
    </div>
</section>
</body>
</html>