{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/maintenance/style.css' %}">
    <link rel="shortcut icon" href="{% static 'main/icons/logo-1.svg' %}">
    <title>Оглавление</title>
</head>
<body>
<!--Основа основ-->
<section class="main-section">
    <!--Контейнер размера страницы-->
    <div class="conteiner main-section__nav-container">
        <!--Верхняя секция сайта-->
        <header class="main-section__header">
            <a href="{% url 'home' %}"><img class="main-section__header-logo" src="{% static 'main/icons/logo-3.svg' %}"
                                            alt=""></a>
            <nav>
                <div class="navbar">
                    <div class="dropdown">
                        <button class="dropbtn"><a class="dropbtn__algebra" href="#algebra-content">алгебра</a></button>
                    </div>
                </div>
                <div class="navbar-1">
                    <div class="dropdown-1">
                        <button class="dropbtn-1"><a class="dropbtn__geometry" href="#geometry-content">геометрия</a></button>
                    </div>
                </div>
                <ul class="main-section__nav-menu">
                    <li class="main-section__nav-menu-li"><a class="main-section__nav-menu-items" href="https://forms.yandex.ru/cloud/657c1e80f47e73077fa019c0/">Отзывы</a></li>
                    <li class="main-section__nav-menu-li"><a class="main-section__nav-menu-items" href="#">Контакты</a></li>
                    <li class="main-section__nav-menu-li"><a class="main-section__nav-menu-items" href="{% url 'about' %}">О нас</a></li>
                </ul>
                <img class="main-section__header__line" src="{% static 'main/img/header.svg' %}" alt="">
            </nav>
        </header>
        <section class="second-sectione">
                <div class="second-sectione__column">
                    <div class="second-sectione__algebra">
                        <h2 class="second-sectione__algebra-h2" id="algebra-content">Алгебра</h2>
                        <div class="second-sectione__algebra-h3">7 класс</div>
                        <details class="second-sectione__list">
                            <summary class="list__details">Глава I. Выражения, тождества, уравнения</summary>
                            <div class="list__details-content">
                               <li><a class="details-content" href="">Числовые выражения</a></li>
                               <li><a class="details-content" href="">Выражения с переменными</a></li>
                               <li><a class="details-content" href="">Сравнение значений выражений</a></li>
                               <li><a class="details-content" href="">Свойства действий над числами</a></li>
                               <li><a class="details-content" href="">Тождества. Тождественные преобразования выражений</a></li>
                            </div>
                        </details>
                        <details class="second-sectione__list">
                            <summary class="list__details">Глава II. Функции</summary>
                            <div class="list__details-content">
                                <li><a class="details-content" href="{% url 'algebra_7_2_1-4' %}#1">Координатная прямая. Координатная плоскость</a></li>
                               <li><a class="details-content" href="{% url 'algebra_7_2_1-4' %}#2">Что такое функция?</a></li>
                               <li><a class="details-content" href="{% url 'algebra_7_2_1-4' %}#3">График функции и вычисление его значений</a></li>
                               <li><a class="details-content" href="">Прямая пропорциональность и ее график</a></li>
                               <li><a class="details-content" href="">Линейная функция и ее график</a></li>
                            </div>
                        </details>
                        <details class="second-sectione__list">
                            <summary class="list__details">Глава III. Степень с натуральным показателем</summary>
                            <div class="list__details-content">
                               <li><a class="details-content" href="">Определение степени с натуральным показателем</a></li>
                               <li><a class="details-content" href="">Умножение и деление степеней</a></li>
                               <li><a class="details-content" href="">Возведение в степень произведения и степени</a></li>
                               <li><a class="details-content" href="">Одночлен и его стандартный вид</a></li>
                               <li><a class="details-content" href="">Умножение одночленов</a></li>
                               <li><a class="details-content" href="">Возведение одночлена в степень</a></li>
                               <li><a class="details-content" href="">Функции у=х^2 и у=х^3</a></li>
                            </div>
                        </details>
                        <details class="second-sectione__list">
                            <summary class="list__details">Глава IV. Многочлены</summary>
                            <div class="list__details-content">
                               <li><a class="details-content" href="">Многочлен и его стандартный вид</a></li>
                               <li><a class="details-content" href="">Сложение и вычитание многочленов</a></li>
                               <li><a class="details-content" href="">Умножение одночлена на многочлен</a></li>
                               <li><a class="details-content" href="">Вынесение общего множителя за скобки</a></li>
                               <li><a class="details-content" href="">Умножение многочлена на многочлен</a></li>
                               <li><a class="details-content" href="">Разложение многочлена на множители способом группировки</a></li>
                            </div>
                        </details>
                        <details class="second-sectione__list">
                            <summary class="list__details">Глава V. Формулы сокращенного умножения</summary>
                            <div class="list__details-content">
                               <li><a class="details-content" href="">Возведение в квадрат и в куб суммы и разности двух выражений</a></li>
                               <li><a class="details-content" href="">Разложение на множители с помощью формул квадрата суммы и квадрата разности</a></li>
                               <li><a class="details-content" href="">Умножение разности двух выражение на их сумму</a></li>
                               <li><a class="details-content" href="">Разложение разности квадратов на множители</a></li>
                               <li><a class="details-content" href="">Разложение на множители суммы и разности кубов</a></li>
                               <li><a class="details-content" href="">Преобразование целого выражения в многочлен</a></li>
                               <li><a class="details-content" href="">Применение различных способов для разложения на множители</a></li>
                            </div>
                        </details>
                        <details class="second-sectione__list">
                            <summary class="list__details">Глава VI. Системы линейных уравнений</summary>
                            <div class="list__details-content">
                               <li><a class="details-content" href="">Линейные уравнения с двумя переменными</a></li>
                               <li><a class="details-content" href="">График линейного уравнения с двумя переменными</a></li>
                               <li><a class="details-content" href="">Системы линейных уравнений с двумя переменными</a></li>
                               <li><a class="details-content" href="">Способ подстановки</a></li>
                               <li><a class="details-content" href="">Способ сложения</a></li>
                            </div>
                        </details>
                        <div class="second-sectione__algebra-h3">8 класс</div>
                        <details class="second-sectione__list">
                            <summary class="list__details">Глава I. Рациональные дроби</summary>
                            <div class="list__details-content">
                               <li><a class="details-content" href="">Рациональные выражения</a></li>
                               <li><a class="details-content" href="">Основное свойство дроби Сокращение дробей</a></li>
                               <li><a class="details-content" href="">Сложение и вычитание дробей с одинаковыми знаменателями</a></li>
                               <li><a class="details-content" href="">Сложение и вычитание дробей с разными знаменателями</a></li>
                               <li><a class="details-content" href="">Умножение дробей. Возведение дроби в степень</a></li>
                               <li><a class="details-content" href="">Деление дробей</a></li>
                               <li><a class="details-content" href="">Преобразование рациональных выражений</a></li>
                               <li><a class="details-content" href="">Функция y=k/x и ее график. Обратная пропорциональность</a></li>
                            </div>
                        </details>
                        <details class="second-sectione__list">
                            <summary class="list__details">Глава II. Квадратные корни</summary>
                            <div class="list__details-content">
                                <li><a class="details-content" href="">Рациональные числа</a></li>
                                <li><a class="details-content" href="">Иррациональные числа</a></li>
                                <li><a class="details-content" href="">Квадратные корни</a></li>
                                <li><a class="details-content" href="">Арифметический квадратный корень</a></li>
                                <li><a class="details-content" href="">Уравнение</a></li>
                                <li><a class="details-content" href="">Нахождение приближенных значений квадратного корня</a></li>
                                <li><a class="details-content" href="">Функция и ее график</a></li>
                                <li><a class="details-content" href="">Квадратный корень из произведения</a></li>
                                <li><a class="details-content" href="">Квадратный корень из дроби</a></li>
                                <li><a class="details-content" href="">Квадратный корень из степени</a></li>
                                <li><a class="details-content" href="">Вынесение множителя из-под знака корня</a></li>
                                <li><a class="details-content" href="">Внесение множителя под знак корня</a></li>
                                <li><a class="details-content" href="">Освобождение от иррациональности в знаменателе</a></li>
                                <li><a class="details-content" href="">Преобразование выражений, содержащих квадратные корни</a></li>
                                <li><a class="details-content" href="">Упрощение иррациональных выражений</a></li>
                            </div>
                        </details>
                        <details class="second-sectione__list">
                            <summary class="list__details">Глава III. Квадратные уравнения</summary>
                            <div class="list__details-content">
                                <li><a class="details-content" href="">Определение квадратного уравнения. Неполные квадратные уравнения</a></li>
                                <li><a class="details-content" href="">Решение квадратных уравнений выделением квадрата двучлена</a></li>
                                <li><a class="details-content" href="">Формула корней квадратного уравнения</a></li>
                                <li><a class="details-content" href="">Решение задач с помощью квадратных уравнений</a></li>
                                <li><a class="details-content" href="">Теорема Виета</a></li>
                                <li><a class="details-content" href="">Решение дробных рациональных уравнений</a></li>
                                <li><a class="details-content" href="">Решение задач на движение</a></li>
                                <li><a class="details-content" href="">Решение задач на работу</a></li>
                                <li><a class="details-content" href="">Решение задач на сплавы и смеси</a></li>
                                <li><a class="details-content" href="">Графический способ решения уравнений</a></li>
                            </div>
                        </details>
                        <details class="second-sectione__list">
                            <summary class="list__details">Глава IV. Неравенства</summary>
                            <div class="list__details-content">
                                <li><a class="details-content" href="">Числовые неравенства</a></li>
                                <li><a class="details-content" href="">Свойства числовых неравенств</a></li>
                                <li><a class="details-content" href="">Сложение и умножение числовых неравенств</a></li>
                                <li><a class="details-content" href="">Погреш¬ность и точность приближе¬ния</a></li>
                                <li><a class="details-content" href="">Пересечение и объединение множеств</a></li>
                                <li><a class="details-content" href="">Числовые промежутки</a></li>
                                <li><a class="details-content" href="">Решение неравенств с одной переменной</a></li>
                                <li><a class="details-content" href="">Решение систем неравенств с одной переменной</a></li>
                            </div>
                        </details>
                        <details class="second-sectione__list">
                            <summary class="list__details">Глава V. Степень с целым показателем</summary>
                            <div class="list__details-content">
                                <li><a class="details-content" href="">Определение степени с целым отрицательным показателем</a></li>
                            </div>
                        </details>
                        <div class="second-sectione__algebra-h3">9 класс</div>
                        <details class="second-sectione__list">
                            <summary class="list__details">Глава I. Функция</summary>
                            <div class="list__details-content">
                                <li><a class="details-content" href="">Функция. Область определения и область значений функции</a></li>
                                <li><a class="details-content" href="">Возрастание и убывание функции</a></li>
                                <li><a class="details-content" href="">Квадратный трехчлен</a></li>
                                <li><a class="details-content" href="">Разложение квадратного трехчлена на множители</a></li>
                                <li><a class="details-content" href="">Решение задач путем выделения квадрата двучлена из квадратного трехчлена.</a></li>
                                <li><a class="details-content" href="">Функция у=ах2+bх+с, ее свойства и график</a></li>
                                <li><a class="details-content" href="">Простейшие преобразования графиков функций</a></li>
                                <li><a class="details-content" href="">Функция у=хn. Определение корня n-й степени Вычисление корней n-й степени.</a></li>
                            </div>
                        </details>
                        <details class="second-sectione__list">
                            <summary class="list__details">Глава II. Уравнения и неравенства с одной переменной</summary>
                            <div class="list__details-content">
                                <li><a class="details-content" href="">Целое уравнение и его корни. Биквадратные уравнения</a></li>
                                <li><a class="details-content" href="">Дробные рациональные уравнения</a></li>
                                <li><a class="details-content" href="">Решение неравенств второй степени с одной переменной</a></li>
                                <li><a class="details-content" href="">Решение неравенств методом интервалов</a></li>
                            </div>
                        </details>
                        <details class="second-sectione__list">
                            <summary class="list__details">Глава III. Уравнения и неравенства с двумя переменными и их системы</summary>
                            <div class="list__details-content">
                                <li><a class="details-content" href="">Уравнение с двумя переменными и его график</a></li>
                                <li><a class="details-content" href="">Графический способ решения систем уравнений</a></li>
                                <li><a class="details-content" href="">Решение задач с помощью систем уравнений</a></li>
                                <li><a class="details-content" href="">Решение задач с помощью систем уравнений второй степени</a></li>
                                <li><a class="details-content" href="">Решение систем содержащих одно уравнение первой, а другое второй степени</a></li>
                                <li><a class="details-content" href="">Неравенства с двумя переменными</a></li>
                                <li><a class="details-content" href="">Системы неравенств с двумя переменными</a></li>
                            </div>
                        </details>
                        <details class="second-sectione__list">
                            <summary class="list__details">Глава IV. Прогрессии</summary>
                            <div class="list__details-content">
                                <li><a class="details-content" href="">Арифметическая и геометрическая прогрессии</a></li>
                                <li><a class="details-content" href="">Формулы n-го члена и суммы n первых членов прогрессии</a></li>
                            </div>
                        </details>
                        <details class="second-sectione__list">
                            <summary class="list__details">Глава V. Элементы комбинаторики и теории вероятностей</summary>
                            <div class="list__details-content">
                                <li><a class="details-content" href="">Примеры комбинаторных задач</a></li>
                                <li><a class="details-content" href="">Перестановки, размещения, сочетания</a></li>
                                <li><a class="details-content" href="">Относительная частота случайного события</a></li>
                                <li><a class="details-content" href="">Равновозможные события и их вероятность</a></li>
                            </div>
                        </details>
                    </div>
                    <div class="second-sectione__geometry">
                        <h2 class="second-sectione__geometry-h2" id="geometry-content">Геометрия</h2>
                        <div class="second-sectione__geometry-h3">7 класс</div>
                        <details class="second-sectione__list">
                            <summary class="list__details">Глава I. Начальные геометрические сведения</summary>
                            <div class="list__details-content">
                               <li><a class="details-content" href="{% url 'geometry_7_1_1' %}">Прямая, отрезок, луч и угол</a></li>
                               <li><a class="details-content" href="">Сравнение отрезков и углов</a></li>
                               <li><a class="details-content" href="">Измерение отрезков</a></li>
                               <li><a class="details-content" href="">Измерение углов</a></li>
                               <li><a class="details-content" href="">Смежные и вертикальные углы</a></li>
                               <li><a class="details-content" href="">Перпендикулярные прямые</a></li>
                            </div>
                        </details>
                        <details class="second-sectione__list">
                            <summary class="list__details">Глава II. Треугольники</summary>
                            <div class="list__details-content">
                               <li><a class="details-content" href="{% url 'geometry_7_2_1' %}">Треугольники</a></li>
                               <li><a class="details-content" href="">Первый признак равенства треугольников</a></li>
                               <li><a class="details-content" href="">Медианы, биссектрисы и высоты треугольников</a></li>
                               <li><a class="details-content" href="">Свойства равнобедренного треугольника</a></li>
                               <li><a class="details-content" href="">Второй признак равенства треугольников</a></li>
                               <li><a class="details-content" href="">Третий признак равенства треугольников</a></li>
                               <li><a class="details-content" href="">Окружность</a></li>
                               <li><a class="details-content" href="">Примеры задач на построение</a></li>
                            </div>
                        </details>
                        <details class="second-sectione__list">
                            <summary class="list__details">Глава III. Параллельные прямые</summary>
                            <div class="list__details-content">
                               <li><a class="details-content" href="">Признаки параллельности прямых</a></li>
                               <li><a class="details-content" href="">Практические способы построения параллельных прямых</a></li>
                               <li><a class="details-content" href="">Аксиома параллельных прямых</a></li>
                               <li><a class="details-content" href="">Свойства параллельных прямых</a></li>
                            </div>
                        </details>
                        <details class="second-sectione__list">
                            <summary class="list__details">Глава IV. Соотношения между сторонами и углами треугольника</summary>
                            <div class="list__details-content">
                               <li><a class="details-content" href="">Сумма углов треугольника</a></li>
                               <li><a class="details-content" href="">Соотношения между сторонами и углами треугольника</a></li>
                               <li><a class="details-content" href="">Неравенство треугольника</a></li>
                               <li><a class="details-content" href="">Прямоугольные треугольники и некоторые их свойства</a></li>
                               <li><a class="details-content" href="">Признаки равенства прямоугольных треугольников</a></li>
                               <li><a class="details-content" href="">Расстояние от точки до прямой. Расстояние между параллельными прямыми</a></li>
                               <li><a class="details-content" href="">Построение треугольника по трем элементам</a></li>
                            </div>
                        </details>
                        <div class="second-sectione__geometry-h3">8 класс</div>
                        <details class="second-sectione__list">
                            <summary class="list__details">Глава V. Четырехугольники</summary>
                            <div class="list__details-content">
                                <li><a class="details-content" href="">Многоугольники</a></li>
                               <li><a class="details-content" href="">Параллелограмм</a></li>
                               <li><a class="details-content" href="">Признаки параллелограмма</a></li>
                               <li><a class="details-content" href="">Трапеция</a></li>
                               <li><a class="details-content" href="">Теорема Фалеса</a></li>
                               <li><a class="details-content" href="">Прямоугольник</a></li>
                               <li><a class="details-content" href="">Ромб. Квадрат</a></li>
                               <li><a class="details-content" href="">Осевая и центральная симметрии</a></li>
                            </div>
                        </details>
                        <details class="second-sectione__list">
                            <summary class="list__details">Глава VI. Площадь</summary>
                            <div class="list__details-content">
                               <li><a class="details-content" href="">Площадь многоугольника</a></li>
                               <li><a class="details-content" href="">Площадь прямоугольника</a></li>
                               <li><a class="details-content" href="">Площадь параллелограмма</a></li>
                               <li><a class="details-content" href="">Площадь треугольника</a></li>
                               <li><a class="details-content" href="">Площадь трапеции</a></li>
                               <li><a class="details-content" href="">Теорема Пифагора</a></li>
                               <li><a class="details-content" href="">Теорема, обратная теореме Пифагора</a></li>
                            </div>
                        </details>
                        <details class="second-sectione__list">
                            <summary class="list__details">Глава VII. Подобные треугольники</summary>
                            <div class="list__details-content">
                                <li><a class="details-content" href="">Определение подобных треугольников</a></li>
                               <li><a class="details-content" href="">Отношение площадей подобных треугольников</a></li>
                               <li><a class="details-content" href="">Первый признак подобия треугольников</a></li>
                               <li><a class="details-content" href="">Второй и третий признаки подобия треугольников</a></li>
                               <li><a class="details-content" href="">Средняя линия треугольника</a></li>
                               <li><a class="details-content" href="">Средняя линия треугольника. Свойство медиан треугольника</a></li>
                               <li><a class="details-content" href="">Пропорциональные отрезки</a></li>
                               <li><a class="details-content" href="">Пропорциональные отрезки в прямоугольном треугольнике</a></li>
                               <li><a class="details-content" href="">Синус, косинус и тангенс острого угла прямоугольного треугольника</a></li>
                               <li><a class="details-content" href="">Значения синуса, косинуса и тангенса для углов 30°, 45° и 60°</a></li>
                            </div>
                        </details>
                        <details class="second-sectione__list">
                            <summary class="list__details">Глава VIII. Окружность</summary>
                            <div class="list__details-content">
                                <li><a class="details-content" href="">Взаимное расположение прямой и окружности</a></li>
                               <li><a class="details-content" href="">Касательная к окружности</a></li>
                               <li><a class="details-content" href="">Градусная мера дуги окружности</a></li>
                               <li><a class="details-content" href="">Теорема о вписанном угле</a></li>
                               <li><a class="details-content" href="">Теорема об отрезках пересекающихся хорд</a></li>
                               <li><a class="details-content" href="">Свойство биссектрисы угла</a></li>
                               <li><a class="details-content" href="">Серединный перпендикуляр</a></li>
                               <li><a class="details-content" href="">Теорема о точке пересечения высот треугольника</a></li>
                               <li><a class="details-content" href="">Вписанная окружность</a></li>
                               <li><a class="details-content" href="">Свойство описанного четырехугольника</a></li>
                               <li><a class="details-content" href="">Описанная окружность</a></li>
                               <li><a class="details-content" href="">Свойство вписанного четырехугольника</a></li>
                            </div>
                        </details>
                        <div class="second-sectione__geometry-h3">9 класс</div>
                        <details class="second-sectione__list">
                            <summary class="list__details">Глава IX. Векторы</summary>
                            <div class="list__details-content">
                                <li><a class="details-content" href="">Понятие вектора</a></li>
                                <li><a class="details-content" href="">Откладывание вектора от данной точки</a></li>
                                <li><a class="details-content" href="">Сумма двух векторов</a></li>
                                <li><a class="details-content" href="">Сумма нескольких векторов</a></li>
                                <li><a class="details-content" href="">Вычитание векторов</a></li>
                                <li><a class="details-content" href="">Умножение вектора на число</a></li>
                                <li><a class="details-content" href="">Средняя линия трапеции</a></li>
                            </div>
                        </details>
                        <details class="second-sectione__list">
                            <summary class="list__details">Глава X. Метод координат</summary>
                            <div class="list__details-content">
                                <li><a class="details-content" href="">Разложение вектора по двум неколлинеарным векторам</a></li>
                                <li><a class="details-content" href="">Координаты вектора</a></li>
                                <li><a class="details-content" href="">Простейшие задачи в координатах</a></li>
                                <li><a class="details-content" href="">Уравнение окружности</a></li>
                                <li><a class="details-content" href="">Уравнение прямой</a></li>
                            </div>
                        </details>
                        <details class="second-sectione__list">
                            <summary class="list__details">Глава XI. Соотношение между сторонами и углами треугольника. Скалярное произведение векторов.</summary>
                            <div class="list__details-content">
                                <li><a class="details-content" href="">Синус, косинус и тангенс угла</a></li>
                                <li><a class="details-content" href="">Теорема о площади треугольника</a></li>
                                <li><a class="details-content" href="">Теоремы синусов и косинусов</a></li>
                                <li><a class="details-content" href="">Скалярное произведение векторов</a></li>
                                <li><a class="details-content" href="">Скалярное произведение в координатах</a></li>
                            </div>
                        </details>
                        <details class="second-sectione__list">
                            <summary class="list__details">Глава XII. Длина окружности и площадь круга</summary>
                            <div class="list__details-content">
                                <li><a class="details-content" href="">Правильный многоугольник</a></li>
                                <li><a class="details-content" href="">Окружность, описанная около правильного многоугольника и вписанная в правильный многоугольник</a></li>
                                <li><a class="details-content" href="">Формулы для вычисления площади правильного многоугольника, его стороны и радиуса вписанной окружности</a></li>
                                <li><a class="details-content" href="">Длина окружности</a></li>
                                <li><a class="details-content" href="">Площадь круга и кругового сектора</a></li>
                            </div>
                        </details>
                        <details class="second-sectione__list">
                            <summary class="list__details">Глава XIII. Движения</summary>
                            <div class="list__details-content">
                                <li><a class="details-content" href="">Понятие движения (Осевая и центральная симметрии)</a></li>
                                <li><a class="details-content" href="">Свойства движений</a></li>
                                <li><a class="details-content" href="">Параллельный перенос</a></li>
                                <li><a class="details-content" href="">Поворот</a></li>
                            </div>
                        </details>
                        <details class="second-sectione__list">
                            <summary class="list__details">Глава XIV. Начальные сведения из стереометрии</summary>
                            <div class="list__details-content">
                                <li><a class="details-content" href="">Призма</a></li>
                                <li><a class="details-content" href="">Объем и площадь поверхности многогранника</a></li>
                                <li><a class="details-content" href="">Пирамида</a></li>
                                <li><a class="details-content" href="">Цилиндр и конус</a></li>
                                <li><a class="details-content" href="">Сфера и шар</a></li>
                            </div>
                        </details>
                    </div>
                </div>
            </section>
        <footer class="footer">
            <nav class="footer-social">
                <img class="footer-social__logo" src="{% static 'main/icons/logo-3.svg' %}" alt="">
                <div class="footer-social__connection">
                    <img class="footer-social-img" src="{% static 'main/icons/social-icons.png' %}" alt="">
                    <a class="footer-social__telegram" href="https://t.me/Sv_allmight" target="_blank">@Sv_allmight -
                        Александр Свечников</a>
                    <img class="footer-social-img" src="{% static 'main/icons/social-icons.png' %}" alt="">
                    <a class="footer-social__telegram" href="https://t.me/richmenaft" target="_blank">@richmenaft -
                        Денис Огородов</a>
                </div>
                <div class="footer-social__nav-menu">
                    <a class="footer-social__nav-menu-items" href="https://forms.yandex.ru/cloud/657c1e80f47e73077fa019c0/">Отзывы</a>
                    <a class="footer-social__nav-menu-items" href="">Контакты</a>
                    <a class="footer-social__nav-menu-items" href="{% url 'about' %}">О нас</a>
                </div>
            </nav>
        </footer>
    </div>
</section>
<script src="{% static 'main/js/js.js' %}"></script>
</body>
</html> 