{% extends 'geometry/7 class/layout.html' %}
{% load static %}
{% block chapter_name %}
    Треугольники
{% endblock %}
{% block title %}
    Свойства равнобедренного треугольника
{% endblock %}
{% block content %}
    <h2 class="heading">Свойства равнобедренного треугольника</h2>
    <p class="paragraph__pre-line fifty-margin-bottom">Треугольник называется равнобедренным, если две его стороны равны. Равные стороны называются боковыми сторонами, а третья сторона — основанием равнобедренного треугольника.
Треугольник, все стороны которого равны, называется равносторонним.</p>
    <h3>Теорема</h3>
    <p>В равнобедренном треугольнике углы при основании равны.</p>
    <h3>Доказательство</h3>
    <p class="fifty-margin-bottom">Рассмотрим равнобедренный треугольник АВС с основанием ВС и докажем, что ∠B = ∠C. 
        Пусть AD — биссектриса треугольника АВС. Треугольники ABD и ACD равны по первому признаку равенства треугольников 
        (АВ = АС по условию, AD — общая сторона, ∠1 = ∠2, так как AD — биссектриса). 
        В равных треугольниках против равных сторон лежат равные углы, поэтому ∠B = ∠C. Теорема доказана.
    </p>
    <h3>Теорема</h3>
    <p>В равнобедренном треугольнике биссектриса, проведённая к основанию, является медианой и высотой.</p>
    <h3>Доказательство</h3>
    <p class="paragraph__pre-line">Обратимся снова к рисунку, на котором АВС — равнобедренный треугольник с основанием ВС, AD — его биссектриса.
Из равенства треугольников ABD и ACD следует, что BD = DC и ∠3 = ∠4. Равенство BD = DC означает, что точка D — середина стороны ВС, и поэтому AD — медиана треугольника АВС. Так как углы 3 и 4 — смежные и равны друг другу, то они прямые. Следовательно, отрезок AD является также высотой треугольника АВС. Теорема доказана.
Мы установили, что биссектриса, медиана и высота равнобедренного треугольника, проведённые к основанию, совпадают. Поэтому справедливы также утверждения:
1. Высота равнобедренного треугольника, проведённая к основанию, является медианой и биссектрисой.
2. Медиана равнобедренного треугольника, проведённая к основанию, является высотой и биссектрисой.</p>
   <!-- <div class="conteiner__video">
        <video disablePictureInPicture controls src="{% static '/geometry/vid/7 class/7.2.2.mp4'%}"></video>
    </div>

    <img class="sandbox-img" src="{% static '/geometry/img/sandbox.svg' %}" alt="">
    <div class="sandbox-paragraph">
        <p class="sandbox-first-p">Узнай больше о треугольниках и поэкспериментируй с ними здесь. </p>
        <p class="sandbox-second-p">Они могут вращаться, так что ты сможешь изучить их со всех сторон. </p>
    </div>
    <div class="sandbox">
        <canvas></canvas>
        <div class="sandbox-buttons">
                    <button class="sandbox-button"><a class="button-text" href="#">Кнопка</a></button>
                    <button class="sandbox-button"><a class="button-text" href="#">Кнопка</a></button>
                    <button class="sandbox-button"><a class="button-text" href="#">Кнопка</a></button>
                    <button class="sandbox-button"><a class="button-text" href="#">Кнопка</a></button>
                  </div> 
    </div>
    <script src="{% static 'geometry/js/7 class/java_script.js' %}"></script>-->
{% endblock %}
{% block previous_topic %}
    {% url "geometry_7_2_3" %}
{% endblock %}
{% block next_topic %} 
    {% url "geometry_7_2_5" %}
{% endblock %}