{% extends 'geometry/7 class/layout.html' %}
{% load static %}
{% block chapter_name %}
    Треугольники
{% endblock %}
{% block title %}
    Медианы, биссектрисы и высоты треугольников
{% endblock %}
{% block content %}
    <h2 class="heading">Медианы, биссектрисы и высоты треугольников</h2>
    <p class="fifty-margin-bottom">Рассмотрим прямую а и точку А, не лежащую на этой прямой.  Соединим точку А отрезком с точкой Н прямой а. 
        Отрезок АН называется перпендикуляром, проведённым из точки А к прямой а, если прямые АН и а перпендикулярны. Точка Н называется <span>основанием перпендикуляра</span>.</p>
    <div class="img fifty-margin-bottom">
        <img src="{% static '/geometry/img/7_2_3/Group 701.svg' %}" alt="">
    </div>
    <h3>Теорема</h3>
    <p>Из точки, не лежащей на прямой, можно провести перпендикуляр к этой прямой, и притом только один.</p>
    <h3>Доказательство</h3>
    <p class="paragraph__pre-line fifty-margin-bottom">Пусть А — точка, не лежащая на прямой ВС. Докажем сначала, что из точки А можно провести перпендикуляр к прямой ВС.
Отложим от луча ВС угол МВС, равный углу АВС, как показано на рисунке. Так как углы АВС и МВС равны, то первый из них можно наложить на второй так, что стороны ВА и ВС первого угла совместятся со сторонами ВМ и ВС второго угла. Наглядно это наложение можно представить себе как перегибание рисунка по прямой ВС. При этом точка А наложится на некоторую точку А<sub>1</sub> луча ВМ (рис.). Обозначим буквой Н точку пересечения прямых AA<sub>1</sub> и ВС. Отрезок АН и есть искомый перпендикуляр к прямой ВС. В самом деле, при указанном наложении (перегибании рисунка) луч НА совмещается с лучом НА<sub>1</sub> поэтому угол 1 совмещается с углом 2. Следовательно, ∠1 = ∠2. Но углы 1 и 2 — смежные, значит, каждый из них прямой. Итак, АН ⊥ ВС.
Докажем теперь, что из точки А можно провести только один перпендикуляр к прямой ВС.
        Если предположить, что через точку А можно провести ещё один перпендикуляр АН<sub>1</sub> к прямой ВС, то получим, что две прямые АН и АН<sub>1</sub>, перпендикулярные к прямой ВС, пересекаются (рис.). Но две прямые, перпендикулярные одной и той же третьей прямой, должны быть параллельны и не могут пересекаться. А это противоречие, поэтому из точки А можно провести только один перпендикуляр к прямой ВС. Теорема доказана.
    </p>
     <div class="img fifty-margin-bottom">
        <img src="{% static '/geometry/img/7_2_3/Group 703.svg' %}" alt="">
    </div>
    <p class="paragraph__pre-line fifty-margin-bottom">Отрезок, соединяющий вершину треугольника с серединой противоположной стороны, называется <span>медианой</span> треугольника.
Любой треугольник имеет три медианы. На рисунке отрезки АМ<sub>1</sub>, ВМ<sub>2</sub>, СМ<sub>3</sub> — медианы треугольника АВС.</p>
    <div class="img fifty-margin-bottom">
        <img src="{% static '/geometry/img/7_2_3/Group 704.svg' %}" alt="">
    </div>
    <p class="paragraph__pre-line fifty-margin-bottom">Отрезок биссектрисы угла треугольника, соединяющий вершину треугольника с точкой противоположной стороны, называется <span>биссектрисой</span> треугольника.
Любой треугольник имеет три биссектрисы. На рисунке отрезки СС<sub>1</sub>, DD<sub>2</sub> и ЕЕ<sub>1</sub> — биссектрисы треугольника CDE.</p>
    <p class="fifty-margin-bottom"> Перпендикуляр, проведённый из вершины треугольника к прямой, содержащей противоположную сторону, называется <span>высотой</span> треугольника. Любой треугольник имеет три высоты. На рисунках отрезки АН<sub>1</sub>, ВН<sub>2</sub>, СН<sub>3</sub> — высоты треугольника АВС.</p>
    <p class="paragraph__pre-line fifty-margin-bottom">Медианы, биссектрисы и высоты треугольника обладают замечательными свойствами:
1. Медианы треугольника пересекаются в одной точке;
2. Биссектрисы треугольника пересекаются в одной точке;
3. Высоты треугольника или их продолжения также пересекаются в одной точке.</p>
   <!-- <div class="conteiner__video">
        <video disablePictureInPicture controls src="{% static '/geometry/vid/7 class/7.2.2.mp4'%}"></video>
    </div>-->

    <img class="sandbox-img" src="{% static '/geometry/img/sandbox.svg' %}" alt="">
    <div class="sandbox-paragraph">
        <p class="sandbox-first-p">Узнай больше о треугольниках и поэкспериментируй с ними здесь. </p>
        <p class="sandbox-second-p">Можешь попробовать подвигать треугольник за его точки. </p>
    </div>
    <div class="sandbox">
        <canvas></canvas>
       <!-- <div class="sandbox-buttons">
                    <button class="sandbox-button"><a class="button-text" href="#">Кнопка</a></button>
                    <button class="sandbox-button"><a class="button-text" href="#">Кнопка</a></button>
                    <button class="sandbox-button"><a class="button-text" href="#">Кнопка</a></button>
                    <button class="sandbox-button"><a class="button-text" href="#">Кнопка</a></button>
                  </div> -->
    </div>
    <script src="{% static 'geometry/js/7 class/7_2_3/java_script.js' %}"></script>-->
{% endblock %}
{% block previous_topic %}
    {% url "geometry_7_2_2" %}
{% endblock %}
{% block next_topic %} 
    {% url "geometry_7_2_4" %}
{% endblock %}