body{
    background: #2c2c2c;
    color: white;
}
aside{
    float:left;
    background: #181818;
    width:20%;
    padding:2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}
aside a{
    color: #fff;
}

aside img{
    width: 80px;
    float: left;
}

aside .logo{
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -5px;
}

aside h3{
    margin-top: 50px;
    font-size: 28px;
}
aside ul {list-style: none}
aside ul li{
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover{
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

main .main_div{
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .main_div h1 {font-size: 50px;}
main .main_div p {max-width: 400px; margin: 20px auto;}