:root {
  --white: rgba(241, 240, 241, 1);
  --grey: rgba(68, 61, 62, 1);
  --black: rgba(35, 31, 32, 1);
  --orange-bright: rgba(236, 117, 0, 1);
  --orange-base: rgba(255, 167, 130, 1);
  --orange-light: rgba(255, 221, 211, 1);
  --pirk-bright: rgba(255, 130, 162, 1);
  --pink-base: rgba(255, 192, 205, 1);
  --pink-light: rgba(255, 236, 240, 1);
  --blue-bright: rgba(0, 182, 226, 1);
  --blue-base: rgba(130, 218, 255, 1);
  --blue-light: rgba(224, 244, 255, 1);
  --onboarding-background-grey: rgba(45, 45, 45, 1);
  --background: rgba(43, 43, 43, 1);
  --deviders-grey: rgba(216, 216, 216, 1);
  --text: rgba(255, 255, 255, 1);
  --accent-sweet-corn: rgba(248, 213, 126, 1);
  --cta-aqua-squeeze: rgba(229, 244, 242, 1);
  --display-2xl-font-family: "Mont-HeavyDEMO", Helvetica;
  --display-2xl-font-weight: 400;
  --display-2xl-font-size: 90px;
  --display-2xl-letter-spacing: -2.25px;
  --display-2xl-line-height: 129.99999523162842%;
  --display-2xl-font-style: normal;
  --display-XL-font-family: "Mont-HeavyDEMO", Helvetica;
  --display-XL-font-weight: 400;
  --display-XL-font-size: 67px;
  --display-XL-letter-spacing: -1.675px;
  --display-XL-line-height: 129.99999523162842%;
  --display-XL-font-style: normal;
  --display-l-font-family: "Mont-HeavyDEMO", Helvetica;
  --display-l-font-weight: 400;
  --display-l-font-size: 50px;
  --display-l-letter-spacing: -1px;
  --display-l-line-height: 129.99999523162842%;
  --display-l-font-style: normal;
  --display-m-font-family: "Poppins-Bold", Helvetica;
  --display-m-font-weight: 700;
  --display-m-font-size: 38px;
  --display-m-letter-spacing: -0.76px;
  --display-m-line-height: 129.99999523162842%;
  --display-m-font-style: normal;
  --display-m-semibold-font-family: "Montserrat-SemiBold", Helvetica;
  --display-m-semibold-font-weight: 600;
  --display-m-semibold-font-size: 38px;
  --display-m-semibold-letter-spacing: -0.76px;
  --display-m-semibold-line-height: 129.99999523162842%;
  --display-m-semibold-font-style: normal;
  --display-s-font-family: "Mont-HeavyDEMO", Helvetica;
  --display-s-font-weight: 400;
  --display-s-font-size: 25px;
  --display-s-letter-spacing: -0.25px;
  --display-s-line-height: 129.99999523162842%;
  --display-s-font-style: normal;
  --display-XS-font-family: "Montserrat-SemiBold", Helvetica;
  --display-XS-font-weight: 600;
  --display-XS-font-size: 21px;
  --display-XS-letter-spacing: 0px;
  --display-XS-line-height: 129.99999523162842%;
  --display-XS-font-style: normal;
  --body-XL-font-family: "Montserrat-Regular", Helvetica;
  --body-XL-font-weight: 400;
  --body-XL-font-size: 28px;
  --body-XL-letter-spacing: 0px;
  --body-XL-line-height: 139.9999976158142%;
  --body-XL-font-style: normal;
  --body-l-font-family: "Mulish-Regular", Helvetica;
  --body-l-font-weight: 400;
  --body-l-font-size: 21px;
  --body-l-letter-spacing: 0px;
  --body-l-line-height: 150%;
  --body-l-font-style: normal;
  --body-m-font-family: "Montserrat-Regular", Helvetica;
  --body-m-font-weight: 400;
  --body-m-font-size: 16px;
  --body-m-letter-spacing: 0px;
  --body-m-line-height: 150%;
  --body-m-font-style: normal;
  --body-s-font-family: "Montserrat-Regular", Helvetica;
  --body-s-font-weight: 400;
  --body-s-font-size: 14px;
  --body-s-letter-spacing: 0px;
  --body-s-line-height: 160.0000023841858%;
  --body-s-font-style: normal;
  --shadow-XL: 34.854148864746094px 29.626028060913086px 48.34000015258789px 0px rgba(51, 102, 255, 0.05);
  --collection-1-grey-700: rgba(35, 31, 32, 1);
  --colorwheelplaygroundprimitives-1-grey-600: rgba(68, 61, 62, 1);
  --colorwheelplaygroundprimitives-1-grey-100: rgba(241, 240, 241, 1);
  --colorwheelplaygroundprimitives-1-grey-base: rgba(211, 208, 208, 1);
}
